* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #1c1c1c;
}
#main {
  width: 100%;
  height: 100%;
}
nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: gray;
}
section.allElems {
  width: 100%;
  height: 100%;
  padding-top: 80px;
  padding-left: 20px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  position: absolute;
}
.elems {
  border-radius: 10px;
  height: 350px;
  width: 270px;
  font-size: 21px;
  font-weight: 600;
  background-color: yellow;
  overflow: hidden;
  position: relative;
  transition: all ease 0.2s;
  color: black;
  cursor: pointer;
  box-shadow: 0 5px 20px rgba(198, 172, 172, 0.2);
}
.elems img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.elems h2 {
  position: absolute;
  bottom: 4%;
  right: 5%;
}
.elems:active {
  scale: 0.93;
}
.fullElems {
  height: 100%;
  width: 100%;
  background-color: #1c1c1c;
  font-size: 30px;
  padding: 30px;
  display: none;
  position: absolute;
}
.close{
  position: absolute;
  right:5%;
  top: 5%;
  color:red;
  border: none;
  background: transparent;
  font-size: 30px;
  cursor: pointer;
}
.close:active{
  scale: 0.96;
}
